<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyy.usercentor.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.sunyy.usercentor.pojo.entity.SysUser">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="accountStatus" column="account_status" jdbcType="TINYINT"/>
        <result property="github" column="github" jdbcType="VARCHAR"/>
        <result property="gitee" column="gitee" jdbcType="VARCHAR"/>
        <result property="blog" column="blog" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id
        ,username,nickname,
        gender,age,phone,
        email,avatar,pwd,
        signature,account_status,github,
        gitee,blog,is_deleted,
        create_time,update_time
    </sql>
</mapper>
